In [7]:
# Import the required libraries and dependencies
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import utils as u

In [8]:
# Read the data from the online_gaming_behavior_dataset.csv file into a Pandas DataFrame
orig_df = pd.read_csv("../Resources/online_gaming_behavior_dataset.csv")
# Review the DataFrame
orig_df

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40029,49029,32,Male,USA,Strategy,20.619662,0,Easy,4,75,85,14,Medium
40030,49030,44,Female,Other,Simulation,13.539280,0,Hard,19,114,71,27,High
40031,49031,15,Female,USA,RPG,0.240057,1,Easy,10,176,29,1,High
40032,49032,34,Male,USA,Sports,14.017818,1,Medium,3,128,70,10,Medium
40033,49033,19,Male,USA,Sports,10.083804,0,Easy,13,84,72,39,Medium

In [9]:
orig_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40034 entries, 0 to 40033
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   40034 non-null  int64
 1   Age                        40034 non-null  int64
 2   Gender                     40034 non-null  object
 3   Location                   40034 non-null  object
 4   GameGenre                  40034 non-null  object
 5   PlayTimeHours              40034 non-null  float64
 6   InGamePurchases            40034 non-null  int64
 7   GameDifficulty             40034 non-null  object
 8   SessionsPerWeek            40034 non-null  int64
 9   AvgSessionDurationMinutes  40034 non-null  int64
 10  PlayerLevel                40034 non-null  int64
 11  AchievementsUnlocked       40034 non-null  int64
 12  EngagementLevel            40034 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 4.0+ MB

In [10]:
## No null values
orig_df.isnull().sum()

PlayerID                     0
Age                          0
Gender                       0
Location                     0
GameGenre                    0
PlayTimeHours                0
InGamePurchases              0
GameDifficulty               0
SessionsPerWeek              0
AvgSessionDurationMinutes    0
PlayerLevel                  0
AchievementsUnlocked         0
EngagementLevel              0
dtype: int64

In [11]:
gaming_df = u.preprocess_and_clean(orig_df,cc = True)
gaming_df

,Age,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel,Gender_Female,Gender_Male,Location_Asia,Location_Europe,Location_Other,Location_USA,GameGenre_Action,GameGenre_RPG,GameGenre_Simulation,GameGenre_Sports,GameGenre_Strategy,InGamePurchases
0,31,0.571429,15,62,3,18,1.000000,0,0,0,0,0,0,0,0,0,0,0,0
1,23,0.666667,17,143,68,27,1.666667,0,0,0,0,0,0,0,0,0,0,0,0
2,39,1.500000,1,12,93,46,0.000000,0,0,0,0,0,0,0,0,0,0,0,0
3,40,1.000000,5,80,48,25,0.750000,0,0,0,0,0,0,0,0,0,0,0,0
4,36,0.600000,12,127,15,24,1.600000,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16077,16,0.000000,16,118,18,16,2.000000,0,1,0,0,0,1,0,1,0,0,0,1
16078,43,1.000000,7,107,86,26,1.000000,0,1,1,0,0,0,1,0,0,0,0,1
16079,33,0.000000,12,166,44,11,2.000000,0,1,0,0,1,0,0,0,0,1,0,1
16080,15,0.000000,10,176,29,1,2.000000,1,0,0,0,0,1,0,1,0,0,0,1
16081,34,1.000000,3,128,70,10,1.000000,0,1,0,0,0,1,0,0,0,1,0,1

In [17]:
### START OF ML (Logistic regression model)
X,y = u.split_data(gaming_df)
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=7)
lr = u.create_and_fit_model(LogisticRegression,X_train,y_train,max_iter=1000)
u.eval_model(lr,X_test,y_test)

# lr = u.create_and_fit_model(LogisticRegression,X_train,y_train,max_iter=1000)
# u.eval_model(lr,X_test,y_test)
# print(type(lr))

confusion matrix: [[1892   73]
 [   0 2056]]
balanced accuracy score: 0.9814249363867684
classification report:               precision    recall  f1-score   support

           0       1.00      0.96      0.98      1965
           1       0.97      1.00      0.98      2056

    accuracy                           0.98      4021
   macro avg       0.98      0.98      0.98      4021
weighted avg       0.98      0.98      0.98      4021

In [ ]:
### Getting balanced accuracy score of 0.5 with max_iter of 100 or 1000 with no over/under sampling techniques
### No better than guessing
### Predicts majority class every time

### Getting balanced accuracy score of .8656 with SMOTE and max_iter = 1000
### Confusion matrix : [[8073    0]
###                    [2146 5778]]

### smote, Logistic regression, max_iter=1000
### balanced accuracy score: 0.8800493370336109
### confusion matrix: [[6488    0]
###                  [1556 4930]]

### smoteenn, LR, max_iter=10000
### balanced accuracy score: 0.8783128880811752
### confusion matrix: [[3198    0]
###                     [1607 4996]]

### Random Over Sampling, LR, max_iter=1000
### balanced accuracy score: 0.5053817190474127
### confusion matrix: [[3777 4296]
###                    [3622 4302]]

### Random Under Sampling, LR, max_iter=1000
### balanced accuracy score: 0.504656018257245
### confusion matrix:[[1126  839]
###                  [1159  897]]

### Cluster Centroids, LR, max_iter=1000
### balanced accuracy score: 0.9814249363867684
### confusion matrix: [[1892   73]
###                     [   0 2056]]
 
### Cluster centroids, with logistic regression and a max_iter of 1000 seems to be the most accurate model

In [ ]:
### Can maybe try standard PCA and standard scaler if time permits?
##pca_df, pca_model, pca_component_weights = u.do_pca(X,y,num_components=5)
##pca_component_weights

In [ ]:
## Research questions...